<div>
  <div>
    <h1>
      Who do you want to drink with?
    </h1>
  </div>
</div>

<hr>

<div></div>


<% @all_users.each do |user| %>
  
  <a href="/users/<%=user.id%>"><img src="<%=user.photo%>" class="user-list-pic"></a>

<% end  %>