
<h1> helloooooo </h1>
<br>
<br><br><br>

<!--Banner with user info-->
<div class = "container-fluid" style="background-color: LightPink">
  <div class = "container" style="padding: 10px">
    <div class = "row align-items-center">
      
      <!-- pic -->
      <div class = "col-md-4">
        <img class = "profile-pic"
            src = <%= @user.photo%>>
      </div>
  
      <!-- info -->
      <div class = "col-md-6 banner-info">
        <h2><%=@user.name%></h2>
        <br>
        <h3><%=@user.display_name%></h3>
        <br>
        <i class="fas fa-heart"></i> ## Favorites |              
        <i class="fas fa-bookmark"></i> ## Must-Try Beers |  
        <i class="fas fa-star"></i> ##.## Average Rating     
      </div>

      <!-- edit link --> 
      <!--NOTE MAYBE WE ONLY WANT THIS WHEN ITS YOUR PROFILE BUT YOU CAN STILL SEE OTHER PROFILES -->
      <div class = "col-md-2">
        <button type = "button" class = "btn btn-outline-light">Edit profile <i class="fas fa-user-edit"></i></button>
      </div>
    </div>
  </div>
</div>

<br>

<!-- Ratings and others -->
<div class = "container"> 
  <div class = "row">
    <div class = "col-md-9">
      <div class = "card">Your Ratings</div>
    </div>

    <div class = "col-md-3">
      <div class = "row">
        <div class ="card">Favorites</div>
      </div>

      <div class = "row">
        <div class="card">Must-Try Beers</div>
      </div>
    </div>
  
  </div>
</div>

<br>
<br>
<br>
<hr>


  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

