<!--flagged-->
<% if @flag %>
 <form action = "/delete_flag/<%=@flag.id%>">
  <button class = "icon-btn"><i class="fas fa-bookmark"></i></button>
 </form>
<% else %>
  <form action = "/insert_flag" method="post">
  <input id = "beer_id" type ="hidden" value=<%=@beer_id%> name = "query_beer_id">
    <button class = "icon-btn"><i class="far fa-bookmark"></i></button>                          
  </form>
<% end %>
