/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 body {
  font-family: 'Noto Sans', sans-serif;
 }

 /* * { 
   border: thin red solid;
 }*/
 
 a.icon { 
  text-decoration: none; 
  color: black;   
 }
 a.icon:hover { 
   color: orange; 
 }
 a.text { 
   text-decoration: none; 
   color: black; 
 }
 
 .fa{
   cursor: pointer;
  user-select: none;
 }
.icon-btn{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color: black; 
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
  
}
.icon-btn:hover { 
  color: pink;
}







 .table_img {
   height: 200px; 
   width: 200px; 
 }

 .user_img_sm {
  max-height: 45px; 
  max-width: 45px;
  padding: none; 
 }




.profile-pic {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* Banner settings */
  /* Text */ 
  .banner-title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px; 
    font: bold; 
  }
  .banner-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 32px; 
    font: italic;
  }
  .banner-text { 
    font-size: 16px; 
  }

  /* shapes */
  .banner-bg {
    background-color: cadetblue; 
    opacity: 0.5; 
    
  }
  
.banner-img { 
  
  max-height: 500px; 
  object-fit: contain; 
  align-items: center; 
  justify-content: center;
    
}
.banner-info { 
  background-color: hsla(0,0%,100%,0.8);
  border:thin black solid; 
  padding: 10px;   
  margin-top: 10px;
}

.info-box {
  background-color: hsla(0,0%,100%,0.8);
  border:thin black solid; 
  padding: 10px;   
  margin: 10px;

}


/* Ratings Cards */ 
